@charset "UTF-8";
/* ============================================
settings
=============================================== */
@import '@settings/_variables.scss';
@import '@settings/_mixin.scss';
@import '@settings/_function.scss';

/* ============================================
extend
=============================================== */
@import '@extend/_extend.scss';
@import '@extend/_typography.scss';
@import '@extend/_buttons.scss';
@import '@extend/_tabs.scss';
@import '@extend/_flow.scss';

/* ============================================
styles
=============================================== */
/* atomes
------------------------------------------ */
@import 'atomes/_border.scss';
@import 'atomes/_card.scss';
@import 'atomes/_image.scss';
@import 'atomes/_link.scss';
@import 'atomes/_tag.scss';
@import 'atomes/_typography.scss';
@import 'atomes/_iconography.scss';
@import 'atomes/_chart.scss';

/* molecules
------------------------------------------ */
@import 'molecules/_list.scss';
@import 'molecules/_buttons.scss';
@import 'molecules/_tabs.scss';
@import 'molecules/_binary.scss';
@import 'molecules/_media.scss';
@import 'molecules/_jumbotron.scss';
@import 'molecules/_flow.scss';
@import 'molecules/_fade-in.scss';
@import 'molecules/_accordion.scss';
@import 'molecules/_slideshow.scss';
@import 'molecules/_grade.scss';
@import 'molecules/_overlay.scss';

/* orgranisms
------------------------------------------ */
@import 'orgranisms/_header.scss';
@import 'orgranisms/_footer.scss';
@import 'orgranisms/_nav.scss';
@import 'orgranisms/_arrange.scss';
@import 'orgranisms/_float.scss';
@import 'orgranisms/_vertical-middle.scss';
@import 'orgranisms/_modal.scss';

/* templates
------------------------------------------ */
@import 'templates/_foundation.scss';
@import 'templates/_layout.scss';
@import 'templates/_section.scss';

/* pages
------------------------------------------ */
@import 'pages/_index.scss';
@import 'pages/_style-guide.scss';

/* ============================================
libs
=============================================== */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Raleway|Lato|Libre+Baskerville');

// TODO:
.mui-logo {
  display: inline-block;
  @extend .mui-phrase-xl;
  padding: space(2);
	font-family: 'Fredericka the Great', cursive;
}
.mui-height-inherit {
	height: inherit;
}