@charset "utf-8";
/* =========================================
flyout
============================================ */
.mui-nav-flyout {
  $button-size: 46px;
  display: block;
  width: 240px;
  height: 100%;
  @include breakpoints(xs, md) {
    margin: 0;
    position: 0;
    padding: calc(#{$button-size} + #{space(2)} * 2) #{space(2)};
  }
  @include breakpoints(md, xl) {
    position: fixed;
    margin: 48px 0 0;
    padding: 16px space(2) space(2) space(2);
  }
}
//.mui-nav-flyout--skin {}
.mui-nav-flyout__button {
  $button-size: 46px;
  @include breakpoints(xs, md) {
    display: block;
    position: absolute;
    top: 8px;
    left: calc(240px - #{$button-size} / 2);
  }
  @include breakpoints(md, xl) {
    display: none;
  }
}
.mui-nav-flyout__nav {
  margin: 0 -#{space(2)};
}
/* =========================================
nav-links
============================================ */
.mui-nav-links {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mui-nav-links__item {
  display: block;
  margin: 0;
  padding: 0;
}
.mui-nav-links__link {
  display: block;
  position: relative;
  margin: 0;
  padding: size(2) size(4);
  @extend %f-link;
  @include fonts();
  @include colors();
  transition-duration: .3s;
  &.is-active {
    background: $color-gray-muted;
  }
  &.is-active::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: $gradient-3;
  }
  &:hover,
  &.is-active:hover {
    @include colors($color-white, $color-black-light);
  }
}