@charset "utf-8";
/* =========================================
header
============================================ */
.mui-header {
  display: block;
  position: absolute;
  @include z-index(header);
}

// .mui-header--skin {
// 	@include colors(null, $color-white);
//   border-bottom: 1px solid $color-gray-light;
// }
/* layout
------------------------------------------ */
.mui-header-layout {
  display: flex;
  align-items: center;
}
.mui-header-layout__button {
  flex: 0 0 auto;
  width: 46px;
  height: 46px;
}
.mui-header-layout__logo {
  flex: 1;
}
.mui-header-layout__menu {
  flex: 0 0 auto;
  padding: 0 size(4);
}
.mui-header-layout__fixed {
  position: fixed;
}
/* button
------------------------------------------ */
.mui-hamburger {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 46px;
	height: 46px;
	@extend %f-link;
	background: $gradient-1;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, .8);
	&.is-active {
		background: $gradient-3;
	}
}
.mui-hamburger__bars {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1px 0 0 -8px;
	padding: 0;
	width: 16px;
	height: 2px;
	background: $color-white;
	transition-duration: .3s;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background: $color-white;
    transition-duration: .3s;
  }
	&::before {
		margin: -8px 0 0 -8px;
	}
	&::after {
		margin: 6px 0 0 -8px;
	}
	.mui-hamburger.is-active & {
		width: 0;
  	height: 0;
	}
	.mui-hamburger.is-active &::before {
		margin: 0;
		transform: rotate(45deg);
	}
	.mui-hamburger.is-active &::after {
		margin: 0;
		transform: rotate(-45deg);
	}
}	