@charset "UTF-8";
/* =========================================
layout
============================================ */
.mui-layout {
  display: block;
  @include breakpoints(xs, md) {
    position: unset;
  }
  @include breakpoints(md, xl) {
    &.is-flyout {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.mui-layout__nav {
  $nav-size: 240px;
  display: block;
  @include breakpoints(xs, md) {
    position: fixed;
    @include z-index(nav-flyout);
    top: 0;
    left: -#{$nav-size};
    .mui-layout.is-flyout & {
      @keyframes nav-animation {
        0% {
          left: -#{$nav-size};
        }
        100% {
          left: 0;
        }
      }
      animation: .3s nav-animation;
      left: 0;
      height: 100%;
      width: #{$nav-size};
      background: $color-white;
    }
  }
  @include breakpoints(md, xl) {
    .mui-layout.is-flyout & {
      flex: 0 0 auto;
      width: #{$nav-size};
      background: $color-gray-light;
      border-right: 1px solid $color-gray-muted;
    }
  }
}
.mui-layout__overlay {
  @include breakpoints(xs, md) {
    .mui-layout.is-flyout & {
      display: block; 
      position: fixed;
      @include z-index(nav-overlay);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-overlay;
    }
  }
}
.mui-layout__main {
  display: block;
  @include breakpoints(md, xl) {
    .mui-layout.is-flyout & {
      flex: 1;
    }
  }
}
.mui-layout__footer {
  flex: 0 0 100%;
  @include breakpoints(md, xl) {
    .mui-layout.is-flyout & {
      padding-left: 240px;
    }
  }
}

/* =========================================
main
============================================ */
.mui-main {
  display: block;
  @include colors(null, $color-gray-muted, null);
}

/* =========================================
container
============================================ */
.mui-container {
  @extend %l-container;
}
/* =========================================
gutter
============================================ */
.mui-gutter {
  @include breakpoints(xs, lg) {
    padding: 0 space(2);
    
  }
  @include breakpoints(lg, xl) {
    padding: 0 space(4);
  }
}
.mui-gutter--offset-xs {
  @include breakpoints(xs, sm) {
    margin: 0 -(space(2));
  }
}
.mui-gutter--offset-sm {
  @include breakpoints(sm, md) {
    margin: -(space(2));
  }
}
.mui-gutter--offset-md {
  @include breakpoints(md, lg) {
    margin: 0 -(space(2));
  }
}
.mui-gutter--offset-lg {
  @include breakpoints(lg, xl) {
    margin: 0 -(space(2));
  }
}
/* =========================================
row
============================================ */
@for $i from 0 through 8 {
  .mui-row-lv#{$i} {
    padding: #{$spaces * $i} 0 0;
  }
}
/* =========================================
inner
============================================ */
@for $i from 0 through 4 {
  .mui-inner-lv#{$i} {
    padding: #{$spaces * $i};
  }
}