@charset "utf-8";
/* =========================================
icons
============================================ */
.mui-icons {
  position: relative;
}
.mui-icons--inline {
  display: inline-block;
}
.mui-icons--block {
  display: block;
}
/* spacing
-------------------------------------------- */
// icons--left-lv1
.mui-icons {
  $a: (left, right);
  @each $x in $a {
    @for $i from 1 through 8 {
      &--#{$x}-lv#{$i} {
        margin-#{$x}: space($i);
        padding-#{$x}: space(1);
      }
    }
  }
}
/* icons hidden
-------------------------------------------- */
.mui-icons {
  @include breakpoints(xs, sm) {
    &.mui-icons--hidden-xs {
      margin: 0;
      padding: 0;
    }
  }
  @include breakpoints(sm, md) {
    &.mui-icons--hidden-sm {
      margin: 0;
      padding: 0;
    }
  }
  @include breakpoints(md, lg) {
    &.mui-icons--hidden-md {
      margin: 0;
      padding: 0;
    }
  }
  @include breakpoints(lg, xl) {
    &.mui-icons--hidden-lg {
      margin: 0;
      padding: 0;
    }
  }
}
[class*="mui-icons__icon-"] {
  @include breakpoints(xs, sm) {
    .mui-icons--hidden-xs & {
      display: none;
    }
  }
  @include breakpoints(sm, md) {
    .mui-icons--hidden-sm & {
      display: none;
    }
  }
  @include breakpoints(md, lg) {
    .mui-icons--hidden-md & {
      display: none;
    }
  }
  @include breakpoints(lg, xl) {
    .mui-icons--hidden-lg & {
      display: none;
    }
  }
}
/* =========================================
icons
============================================ */
.mui-icon {
  display: inline-block;
  position: relative;
}
/* arrow
-------------------------------------------- */
.mui-icon--arrow-up {
  $s: space(2);
  width: $s;
  height: $s;
  &::before {
    @extend %f-icon-pseudo;
    border-top: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
  }
}
.mui-icon--arrow-right {
  $s: space(2);
  width: $s;
  height: $s;
  &::before {
    @extend %f-icon-pseudo;
    border-top: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
    transform: rotate(45deg);
  }
  &::before {
    position: absolute;
    top: calc(50% - #{$s / 2});
    right: calc(-#{$s});
  }
}
.mui-icon--arrow-down {
  $s: space(2);
  width: $s;
  height: $s;
  &::before {
    @extend %f-icon-pseudo;
    border-top: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
    transform: rotate(135deg);
  }
  &::before {
    position: absolute;
    top: calc(50% - #{$s / 2 * 1.5});
    right: calc(-#{$s});
  }
}
.mui-icon--arrow-left { 
  $s: space(2);
  width: $s;
  height: $s;
  &::before {
    @extend %f-icon-pseudo;
    border-top: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
    transform: rotate(-135deg);
  }
  &::before {
    position: absolute;
    top: calc(50% - #{$s / 2});
    left: calc(-#{$s});
  }
}

/* icon-close
-------------------------------------------- */
.mui-icon--close {
  $s: space(4);
  width: $s;
  height: $s;
  &::before {
    @extend %f-icon-pseudo;
    background: url(#{$images-path}elements/icon/icon-close.svg) no-repeat;
  }
  &::before {
    position: absolute;
    top: calc(50% - #{$s} / 2);
    left: -#{$s};
  }
}
/* icon-out
-------------------------------------------- */
.mui-icon--out {
  $s: space(2);
  width: $s;
  height: $s;
  &::before {
    @extend %f-icon-pseudo;
    border-style: solid;
    border-color: $color-gray;
    border-width: 2px 1px 1px;
  }
  &::after {
    @extend %f-icon-pseudo;
    border-bottom: 1px solid $color-gray;
    border-left: 1px solid $color-gray;
  }
  &::before {
    position: absolute;
    top: calc(50% - (#{$s} / 2));
    right: -#{$s};
  }
  &::after {
    position: absolute;
    top: calc(50% - (#{$s} / 2) + 2px);
    right: -#{$s};
  }
}