@charset "utf-8";
/* =========================================
Modules (buttons)
============================================ */
/* Block */
.mui-button {
  @extend %button;
  height: 100%;
  border-width: 1px 1px 3px 1px;
}
/* Block--Modifier */
.mui-button--inline {
  display: inline-block;
  width: auto;
  height: auto;
}

/* color */
.mui-button--primary {
  @include colors($color-white, $color-primary);
}
// .mui-button--secondary {}
// .mui-button--tertiary {}
.mui-button--alt {
  color: $color-white;
  background: $gradient-1;
  border-color: transparent;
}
.mui-button.is-muted,
.mui-button--muted {
  @include colors($color-gray, $color-gray-muted);
  border: 0;
  &:hover {
    opacity: 1;
  }
}
.mui-button--flat {
  border-width: 1px;
  border-radius: 0;
}
.mui-button--transparent {
  background: none;
  border: 0;
}
.mui-button--text-link {
  display: inline-block;
  position: relative;
  width: auto;
  text-align: inherit;
  text-decoration: none;
  font-weight: bold;
  color: $color-text-link;
  background: none;
  border: 0;
  border-radius: 0;
  transition-duration: .1s;
  &:hover {
    color: $color-white;
    background: $pattern-2;
  }
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $pattern-2;
  }
}
.mui-button--style-link {
  text-decoration: none;
  color: $color-text-link;
  background: none;
  border: 1px dotted $color-gray;
}
// projects
.mui-button--inherit-border {
  color: inherit;
  background: inherit;
  border-width: 1px;
  border-color: inherit;
  border-radius: 0;
}

.mui-button--gutter-offset {
  padding-right: 0;
  padding-left: 0;
}
.mui-button--row- {
  $a: xs, sm, md, lg, xl, 2l, 3l, 4l, 5l, 6l;
  @for $i from 1 through length($a) {
    &#{nth($a, $i)} {
      padding-top: $i * 2px;
      padding-bottom: $i * 2px;
    }
  }
}
.mui-button--text- {
  $a: xs, sm, md, lg, xl;
  @for $i from 1 through length($a) {
    &#{nth($a, $i)} {
      vertical-align: middle;
      @include fonts(#{$i * 2 + 10});
      font-size: #{($i * 2 + 10) / 10}rem;
    }
  }
}
.mui-button--text-inherit {
  font: inherit;
  color: inherit;
}