@charset "UTF-8";
/* ============================================
fade-in
=============================================== */
.mui-fade-in {
	opacity: 0;
  transform: translate(0, 120px);
  transition: all .5s;
  &.is-loaded {
    opacity: 1;
    transform: translate(0, 0);
  }
}